@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-sidebar-background: rgb(80, 100, 119);
  --color-foreground-blue: rgb(228, 240, 251);
  --color-card-background: rgb(27, 30, 40);
  --color-card-background-light: rgb(33, 35, 44);
  --color-tag-background: rgb(48, 51, 64);
  --color-tag-border: rgb(78, 81, 94);
  --color-card-content: rgb(59, 28, 37);
  --color-clickable-focus: rgb(93, 228, 199);
  --color-clickable: rgb(201, 93, 127);
  --color-clickable-hover: rgb(255, 130, 170);
  --inset-shadow-md: inset -3px 2px 6px 0.2px rgba(252, 235, 251, 0.4);

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #040e27;
    --foreground: #ededed;
  }
} 

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
